@font-face {
    font-family: 'DM_Sans';
    src: url('./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

/* Dark Theme */
/* Light Theme */
/* Accent Colors  */
:root {
  --primary: #ffffff;
  --primary-text: #12131a;
  --toggle-button: #e4e4ef;
  --textfield-border: #e4e4ef;
  --textfield-bg: #f2f2f7;
  --textfield-placeholder: #2a2b37;
  --checkbox-border: #12131a;
  --checked-bg: #d3a0fa;
  --purple-light: #d3a0fa;
  --purple-dark: #c27cf8;
  --orange-light: #fe8159;
  --orange-dark: #da3701;
  --yellow: #ff9f00;
  --card-text: #12131a;
  --bar-bg: #f2f2f7;
}

[data-theme=dark] {
  --primary: #12131a;
  --primary-text: #f2f2f7;
  --secondary-text: #e4e4ef;
  --toggle-button: #2a2b37;
  --checkbox-border: #e4e4ef;
  --textfield-bg: #21222c;
  --textfield-placeholder: #e4e4ef;
  --textfield-border: #2a2b37;
  --checkbox-border: #e4e4ef;
  --bar-bg: #21222c;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    color: var(--primary-text);
    padding: 1rem;
    font-family: DM_Sans, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme=dark] .header__logo--dark {
    display: block;
}
[data-theme=dark] .header__logo--light {
    display: none;
}
[data-theme=dark] .header__theme-icon--light {
  display: block;
}
[data-theme=dark] .header__theme-icon--dark {
  display: none;
}

[data-theme=light] .header__logo--dark {
    display: none;
}
[data-theme=light] .header__logo--light {
    display: block;
}
[data-theme=light] .header__theme-icon--light {
  display: none;
}
[data-theme=light] .header__theme-icon--dark {
  display: block;
}

fieldset{
    border: none;
}

textarea{
    resize: none;
}

/* header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.06rem 0;
}

.header__theme-toggle {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0.4rem;
    border-radius: 0.4rem;
    border: 1px solid var(--toggle-button);
    background-color: var(--primary);
    cursor: pointer;
}

.header__theme-icon {
    width: 20px;
    height: 20px;
}

/* card header */
.card__header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__header h1 {
    font-size: 40px;
    text-align: center;
    letter-spacing: -1px;
    font-weight: bold;
    line-height: 100%;
    max-width: 343px;
    margin: 2.5rem 0;
}

#text-input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.75rem;
    background-color: var(--textfield-bg);
    height: 200px;
    margin-bottom: 1rem;
    border: 1px solid var(--textfield-border);
    color: var(--textfield-placeholder);
}

#text-input::placeholder,
#text-input {
    font-size: 1.25rem;
    line-height: 140%;
    letter-spacing: -0.6px;
}

#text-input:focus{
    outline: none;
    box-shadow: 0px 0px 10px 0px var(--purple-dark);
}

.card__body {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.6px;
}

.card__label{
    display: flex;
    align-items: center;
}

.card__options-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.card__option--exclude, .card__option--character {
    display: flex;
    align-items: center;
}

.card__checkbox {
    width: 1rem;
    height: 1rem;
    border-radius: 40px;
    margin-right: 0.7rem;
}


.card__option--character .card__limit{

    background-color: var(--textfield-bg);
    border-radius: 5px;
    margin-left: 1rem;
    border: 1px solid var(--textfield-border);
    color: var(--textfield-placeholder);
    padding: 12px;
    height: 10px;

    width: 55px;
}

.card__option--character .card__limit:focus{
    outline: none;
    box-shadow: "0px 0px 10px 0px var(--purple-dark)";

}

.card__limit--hidden, .card__error--hidden{
    display: none;
}

.card__error{
    font-size: 16px;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
    color: var(--orange-dark);
}

/* results */
.results {
    margin-top: 2.5rem;
}

.results__cards {
    display: grid;
    width: 100%;
    gap: 1rem;
}

.results__card {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.7rem 1.25rem;
    border-radius: 0.75rem;
    justify-content: center;
    background-color: var(--primary);
    color: var(--card-text)
}

.results__card h2 {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1px;
}

.results__card p {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.6px;
    z-index: 1;
}

.results__card--characters {
    background-color: var(--purple-light);
    
}

.results__card--words {
    background-color: var(--yellow);
}

.results__card--sentences {
    background-color: var(--orange-light);
}

.results__image--characters,
.results__image--words,
.results__image--sentences {
    position: absolute;
    top: -10px;
    right: -50px;
}

.results__letter-density {
    margin-top: 1.5rem;
}

.results__letter-density-title {
    margin-bottom: 1.25rem;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -1px;
}

.results__letter-density-description {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.6px;
}

    .results__letter-density-container{
        display: flex;
        align-items: center;
        gap: 12px;
        max-width: 100%;
        width: 100%;
    }

    .results__letter-density-letter{
        width: 1rem;
        height: 21px;
    }

    .results__letter-density-letter,.count{
        font-size: 1rem;
        line-height: -130%;
        letter-spacing: -0.6px;
        font-weight: 500;
        color: var(--primary-text);
    }
    .results__letter-density-bar-container{
        flex-grow: 1;
        max-width: 1024px;
        height: 12px;
        background-color: var(--bar-bg);
        border-radius: 10px;
        overflow: hidden;
    }
    .results__letter-density-bar-fill{
        width: 0;
        background-color: var(--purple-light);
        border-radius: 50px;
        height: 100%;
        transition: width 0.4s ease-in-out, opacity 0.3s ease;
    }
   
    .hidden{
        display: none;
    }

.results__letter-density-button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--primary-text);
        font-size: 18px;


        line-height: 140%;
        letter-spacing: -0.6px;
        background-color: transparent;
        align-items: center;
        gap: 6px;
        border: none;
        cursor: pointer;
        color: var(--card-text);
        margin-top: 16px;
        transition: color 0.2s;
}
.hidden{
    display: none;}

.chevron {
  transition: transform 0.3s ease;
}

.card__options-checkboxes {
  color: var(--secondary-text);
  display: flex;
  flex-direction: column;
}

.card__options-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card__options-group > div {
  display: flex;
  align-items: center;
}

.card__options-group > div input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--checkbox-border);
  border-radius: 4px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.card__options-group > div input[type=checkbox]:checked {
  background-color: var(--checked-bg);
  border-color: transparent;
  position: relative;
  background-image: url("/assets/images/icon-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.card__options-group > div input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* Custom checkbox styling */
    .checkbox-container {
      display: block;
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      font-size: 16px;
      user-select: none;
    }
    
    /* Hide the default checkbox */
    .checkbox-container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: #fff;
      border: 1px solid #12131A;
      border-radius: 4px;
      transition: all 0.2s ease;
    }
    
    /* On hover */
    .checkbox-container:hover input ~ .checkmark {
        background-color: #D3A0FA;
        box-shadow: 0 0 0 2px #D3A0FA;
        border:1.3px solid #fff;
    }
    
    /* When the checkbox is checked */
    .checkbox-container input:checked ~ .checkmark {
      background-color: #D3A0FA;
      border: none;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the checkmark when checked */
    .checkbox-container input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the checkmark/indicator */
    .checkbox-container .checkmark:after {
      left: 5px;
      top: 2px;
      width: 4px;
      height: 8px;
      border:1px solid #12131A;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    
    /* Focus styles for accessibility */
    .checkbox-container input:focus ~ .checkmark {
      box-shadow: 0 0 0 2px #D3A0FA;
      border: 1.3px solid #fff;
    }




/* media queries */
@media(min-width: 768px){
    body {
        padding: 2rem;
    }
    

    .card__header h1 {
        font-size: 64px;
        text-align: center;
        letter-spacing: -1px;
        font-weight: bold;
        line-height: 100%;
        max-width: 510px;
        margin: 2.5rem 0;
    }

    #text-input {
        padding: 1.25rem;
    }

    .card__options {
        display: flex;
        justify-content: space-between;
    }

    .card__options-group {
        flex-direction: row;
    }

    .card__option--exclude {
        margin-right: 1.25rem;
    }

    .results__cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .results__image--characters,
    .results__image--words,
    .results__image--sentences {
        position: absolute;
        top: 0;
        bottom: 0;
        right: -75px;
    }

    .results__card h2 {
        font-size: 64px;
        line-height: 100%;
        letter-spacing: -1px;
    }

}

@media (min-width: 1024px) {
    .container {
        max-width: 990px;
        margin: 0 auto;
    }

    .hearder{
        max-width: 990px;
        margin: 0 auto;
    }

    .card__body {
        font-size: 1rem;
        line-height: 130%;
        letter-spacing: -0.6px;
    }

    .card__header h1 {
        font-size: 64px;
        text-align: center;
        letter-spacing: -1px;
        font-weight: bold;
        line-height: 100%;
        max-width: 510px;
        margin: 2.5rem 0;
    }

    #text-input {
        padding: 1.25rem;
    }

    .card__options {
        display: flex;
        justify-content: space-between;
    }

    .card__options-group {
        flex-direction: row;
    }

    .card__option--exclude {
        margin-right: 1.25rem;
    }

    .results__cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .results__image--characters,
    .results__image--words,
    .results__image--sentences {
        position: absolute;
        top: 0;
        bottom: 0;
        right: -30px;
    }

    .results__card h2 {
        font-size: 64px;
        line-height: 100%;
        letter-spacing: -1px;
    }
}
